.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-header {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}
.create-post__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  width: min(40rem, 90%);
}

.create-post__title,
.create-post__text {
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  resize: none;
}
