:root {
  --clr-bg-light: #f4f1fa;
  --clr-dark: #221c64;
  --clr-white: #fcfbfe;
  --clr-black: #161616;
  --clr-light-grey: #afa9bf;
  --border-radius: 10px;
}
*::after,
*::before,
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  /* height: 98vh; */
  /* border: 5px solid red; */
  background: var(--clr-bg-light);
  padding: 2rem 5rem;
}
button,
a {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }
  .title__text {
    display: none;
  }
  .title > svg {
    font-size: 3.3rem !important;
  }
  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem !important;
  }

  .btn {
    width: 100% !important;
  }
}
